@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'app';

body {
  background-color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userInfo {
  height: 40px;
  margin-left: 20px;
}

.btn {
  margin: 5px;
}

.dropdown {
  height: 30px;
  margin-left: 5px;
}
